<h1>Youtube Search</h1>

<%= form_tag nil, method: 'get', style: 'margin-bottom: 20px' do %>
  <div class="form-group">
  <%= text_field_tag :q, params[:q], class: 'form-control' %>
  </div>
  <%= submit_tag "Search", class: 'btn btn-secondary' %>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <thead class="thead thead-default">
        <tr>
          <th>Title</th>
          <th>URL</th>
        </tr>
      </thead>

      <tbody class="tbody">
        <% @results.each do |result| %>
          <tr>
            <td>
              <% if result.video? %>
                <%= image_tag result.default_thumbnail_url, width: result.default_thumbnail_url, height: result.default_thumbnail_height %></td>
              <% end %>
            <td>
              <div>
                <span class="label label-primary"><%= result.result_type %></span>
                <%= result.title %>
              </div>
              <%= result.description %>
            </td>
            <td><%= result.videoId %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
  </div>
</div>

